.app-design {
	position: fixed;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}
.bottom-menu {
	position: absolute;
	bottom: 0;
	width: 100vw;
}
