.register-container{
    position:absolute;
    height: 100%;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center center;

    .background-register-container{
        background: linear-gradient(90deg, rgba(121,8,59,0.5) 0%, rgba(7,15,74,0.5) 100%);
        width: 100%;
        height: 100%;
        display: flex;
        align-content: left;
        justify-content:left;
        background-size: cover;

        .header-container {
            height: 80px;
            width: 100%;
            display: flex;
            .title-container {
              align-items: center;
              display: flex;
              
              .title {
                margin-left:12px;
                font-size: 3rem;
                color: white;
                font-family: "Secular One", sans-serif;
                opacity: 0.8;
      
              }
              @media (max-width: 400px) {
                #text-movie { display: none; }
              }
              p {
                margin-left: 12px;
                color: white;
              }
            }
        }

        .form-register-container{
            position:absolute;
            top: 50%;
            left: 50%;
            margin-top: -150px;
            margin-left: -90px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .form-label{
              display:block;
              min-width: 250px;
              color:white;
              margin-right: 10px;
              margin-bottom: 10px;;
              font-size:1.5rem;
              font-family: "Secular One", sans-serif;
              opacity:0.8;
            }
            .form-input{
                border-radius: 20px;
                opacity:0.8;
                border:none;
                height:30px;
                width: 250px;
                padding-inline-start: 15px;            
            }
            
            .button-register{
                border: 1px solid white;
                background: none;
                width: 100px;
                height: 40px;
                border-radius: 40px;
                margin-top:25px;
                color: white;
                cursor: pointer;
                }

            .button-register:hover {
                background: linear-gradient(90deg, rgba(121,8,59,1) 0%, rgba(7,15,74,1) 100%);
                color: white;
            }
            
        }
    }
}