

.search-container{
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  //background: linear-gradient(90deg, rgba(87,84,138,1) 0%, rgba(135,163,213,1) 35%, rgba(87,84,138,1) 100%);
 // border-radius:  0px  0px 30px 30px;

  .researching{
      display: flex;
      background-color: rgb(230, 230, 230);
      border-radius: 40px;
      border:none;
      padding-inline-start:1.5rem;
      box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;  
      outline:none;
    }

  .research-zone{
    display: flex;
    gap:1rem;

 

  .button-search{
    height:40px;
    width: 40px;
    border-radius: 50%;
    border:none;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:0.4s;

  }

  .button-search:hover{
    transition:0.4s;
        background: linear-gradient(90deg, rgba(121,8,59,1) 50%, rgba(7,15,74,1) 100%);
      color:white;
    transform: rotate(90deg);
  }
}
  .title-container {
    left: 1rem;
    display: flex;
    align-items: center;
    gap: 0rem;
    .title {
      margin: 0;
      font-size: 3rem;
      color: rgb(121,8,59);;
      font-family: "Secular One", sans-serif;
      cursor:pointer;
    }

    p {
      color: black;
    }
  }

  .search-header-sign-in {
    margin-right:12px;
    display: flex;
    align-items: center;

    button {
      border: 1px solid black;
      background: none;
      width: 100px;
      height: 40px;
      border-radius: 40px;
      color: black;
      cursor: pointer;
    }

    button:hover {
      background: linear-gradient(90deg, rgba(121,8,59,1) 30%, rgba(7,15,74,1) 100%);
      color: white;
    }
  }


  @media (max-width: 830px) {
    #text-movie { display: none; }
    #search-header-sign-in-id {
      width: 15%;
    }
  }
  @media (max-width: 500px) {
    #title-rrx {  
      font-size: 2rem;
      transform: rotate(-90deg);
    }
  }
}

.flou{
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
 }